.wrap {
    padding-top: 45px;
    height: calc(100% - 45px);
    &.hidden-nav-head {
        padding-top: 0;
        height:100%;
    }
}
.content {
    min-height: 100%;
}
.tab-bar {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1000;
  }